src/main/resources/soap/SOAPRequestService_1.0.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01.--><!--Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01.--><definitions targetNamespace="http://object.app.telsoft/" name="SOAPRequestService" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://object.app.telsoft/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/">
   <types>
      <xsd:schema targetNamespace="http://object.app.telsoft/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
         <xs:complexType name="receiverPackageReq">
            <xs:sequence>
               <xs:element name="ISDN" type="xs:string" minOccurs="0"/>
               <xs:element name="ServiceCode" type="xs:string" minOccurs="0"/>
               <xs:element name="StartDatetime" type="xs:string" minOccurs="0"/>
               <xs:element name="EndDatetime" type="xs:string" minOccurs="0"/>
               <xs:element name="GroupCode" type="xs:string" minOccurs="0"/>
               <xs:element name="CommandCode" type="xs:string" minOccurs="0"/>
               <xs:element name="PackageCode" type="xs:string" minOccurs="0"/>
               <xs:element name="SourceCode" type="xs:string" minOccurs="0"/>
               <xs:element name="User" type="xs:string" minOccurs="0"/>
               <xs:element name="Password" type="xs:string" minOccurs="0"/>
               <xs:element name="Description" type="xs:string" minOccurs="0"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="receiverPackageReqResponse">
            <xs:sequence>
               <xs:element name="return" type="xs:string" minOccurs="0"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="Exception">
            <xs:sequence>
               <xs:element name="message" type="xs:string" minOccurs="0"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="receiverServiceReq">
            <xs:sequence>
               <xs:element name="ISDN" type="xs:string" minOccurs="0"/>
               <xs:element name="ServiceCode" type="xs:string" minOccurs="0"/>
               <xs:element name="CommandCode" type="xs:string" minOccurs="0"/>
               <xs:element name="PackageCode" type="xs:string" minOccurs="0"/>
               <xs:element name="SourceCode" type="xs:string" minOccurs="0"/>
               <xs:element name="User" type="xs:string" minOccurs="0"/>
               <xs:element name="Password" type="xs:string" minOccurs="0"/>
               <xs:element name="Description" type="xs:string" minOccurs="0"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="receiverServiceReqResponse">
            <xs:sequence>
               <xs:element name="return" type="xs:string" minOccurs="0"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="exeReceivedCP_MT">
            <xs:sequence>
               <xs:element name="ServiceCode" type="xs:string" minOccurs="0"/>
               <xs:element name="PackageCode" type="xs:string" minOccurs="0"/>
               <xs:element name="Contents" type="xs:string" minOccurs="0"/>
               <xs:element name="UserName" type="xs:string" minOccurs="0"/>
               <xs:element name="Password" type="xs:string" minOccurs="0"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="exeReceivedCP_MTResponse">
            <xs:sequence>
               <xs:element name="return" type="xs:string" minOccurs="0"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="minusMoney">
            <xs:sequence>
               <xs:element name="ServiceCode" type="xs:string" minOccurs="0"/>
               <xs:element name="ISDN" type="xs:string" minOccurs="0"/>
               <xs:element name="PackageCode" type="xs:string" minOccurs="0"/>
               <xs:element name="UserName" type="xs:string" minOccurs="0"/>
               <xs:element name="Password" type="xs:string" minOccurs="0"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="minusMoneyResponse">
            <xs:sequence>
               <xs:element name="return" type="xs:string" minOccurs="0"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="minusMoneyOtp">
            <xs:sequence>
               <xs:element name="ServiceCode" type="xs:string" minOccurs="0"/>
               <xs:element name="ISDN" type="xs:string" minOccurs="0"/>
               <xs:element name="ContentId" type="xs:string" minOccurs="0"/>
               <xs:element name="ContentName" type="xs:string" minOccurs="0"/>
               <xs:element name="Amount" type="xs:string" minOccurs="0"/>
               <xs:element name="UserName" type="xs:string" minOccurs="0"/>
               <xs:element name="Password" type="xs:string" minOccurs="0"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="minusMoneyOtpResponse">
            <xs:sequence>
               <xs:element name="return" type="xs:string" minOccurs="0"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="getInfomationCcgw">
            <xs:sequence>
               <xs:element name="ServiceCode" type="xs:string" minOccurs="0"/>
               <xs:element name="ISDN" type="xs:string" minOccurs="0"/>
               <xs:element name="SourceCode" type="xs:string" minOccurs="0"/>
               <xs:element name="UserName" type="xs:string" minOccurs="0"/>
               <xs:element name="Password" type="xs:string" minOccurs="0"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="getInfomationCcgwResponse">
            <xs:sequence>
               <xs:element name="return" type="xs:string" minOccurs="0"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="sendMessage">
            <xs:sequence>
               <xs:element name="ServiceCode" type="xs:string" minOccurs="0"/>
               <xs:element name="ISDN" type="xs:string" minOccurs="0"/>
               <xs:element name="Content" type="xs:string" minOccurs="0"/>
               <xs:element name="User" type="xs:string" minOccurs="0"/>
               <xs:element name="Password" type="xs:string" minOccurs="0"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="sendMessageResponse">
            <xs:sequence>
               <xs:element name="return" type="xs:string" minOccurs="0"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="confirmMinusMoney">
            <xs:sequence>
               <xs:element name="TransactionId" type="xs:string" minOccurs="0"/>
               <xs:element name="OTP" type="xs:string" minOccurs="0"/>
               <xs:element name="UserName" type="xs:string" minOccurs="0"/>
               <xs:element name="Password" type="xs:string" minOccurs="0"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="confirmMinusMoneyResponse">
            <xs:sequence>
               <xs:element name="return" type="xs:string" minOccurs="0"/>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="Exception" type="tns:Exception"/>
         <xs:element name="confirmMinusMoney" type="tns:confirmMinusMoney"/>
         <xs:element name="confirmMinusMoneyResponse" type="tns:confirmMinusMoneyResponse"/>
         <xs:element name="exeReceivedCP_MT" type="tns:exeReceivedCP_MT"/>
         <xs:element name="exeReceivedCP_MTResponse" type="tns:exeReceivedCP_MTResponse"/>
         <xs:element name="getInfomationCcgw" type="tns:getInfomationCcgw"/>
         <xs:element name="getInfomationCcgwResponse" type="tns:getInfomationCcgwResponse"/>
         <xs:element name="minusMoney" type="tns:minusMoney"/>
         <xs:element name="minusMoneyOtp" type="tns:minusMoneyOtp"/>
         <xs:element name="minusMoneyOtpResponse" type="tns:minusMoneyOtpResponse"/>
         <xs:element name="minusMoneyResponse" type="tns:minusMoneyResponse"/>
         <xs:element name="receiverPackageReq" type="tns:receiverPackageReq"/>
         <xs:element name="receiverPackageReqResponse" type="tns:receiverPackageReqResponse"/>
         <xs:element name="receiverServiceReq" type="tns:receiverServiceReq"/>
         <xs:element name="receiverServiceReqResponse" type="tns:receiverServiceReqResponse"/>
         <xs:element name="sendMessage" type="tns:sendMessage"/>
         <xs:element name="sendMessageResponse" type="tns:sendMessageResponse"/>
      </xsd:schema>
   </types>
   <message name="minusMoney">
      <part name="parameters" element="tns:minusMoney"/>
   </message>
   <message name="minusMoneyResponse">
      <part name="parameters" element="tns:minusMoneyResponse"/>
   </message>
   <message name="Exception">
      <part name="fault" element="tns:Exception"/>
   </message>
   <message name="getInfomationCcgw">
      <part name="parameters" element="tns:getInfomationCcgw"/>
   </message>
   <message name="getInfomationCcgwResponse">
      <part name="parameters" element="tns:getInfomationCcgwResponse"/>
   </message>
   <message name="sendMessage">
      <part name="parameters" element="tns:sendMessage"/>
   </message>
   <message name="sendMessageResponse">
      <part name="parameters" element="tns:sendMessageResponse"/>
   </message>
   <message name="exeReceivedCP_MT">
      <part name="parameters" element="tns:exeReceivedCP_MT"/>
   </message>
   <message name="exeReceivedCP_MTResponse">
      <part name="parameters" element="tns:exeReceivedCP_MTResponse"/>
   </message>
   <message name="receiverServiceReq">
      <part name="parameters" element="tns:receiverServiceReq"/>
   </message>
   <message name="receiverServiceReqResponse">
      <part name="parameters" element="tns:receiverServiceReqResponse"/>
   </message>
   <message name="receiverPackageReq">
      <part name="parameters" element="tns:receiverPackageReq"/>
   </message>
   <message name="receiverPackageReqResponse">
      <part name="parameters" element="tns:receiverPackageReqResponse"/>
   </message>
   <message name="minusMoneyOtp">
      <part name="parameters" element="tns:minusMoneyOtp"/>
   </message>
   <message name="minusMoneyOtpResponse">
      <part name="parameters" element="tns:minusMoneyOtpResponse"/>
   </message>
   <message name="confirmMinusMoney">
      <part name="parameters" element="tns:confirmMinusMoney"/>
   </message>
   <message name="confirmMinusMoneyResponse">
      <part name="parameters" element="tns:confirmMinusMoneyResponse"/>
   </message>
   <portType name="SOAPRequest">
      <operation name="minusMoney">
         <input wsam:Action="http://object.app.telsoft/SOAPRequest/minusMoneyRequest" message="tns:minusMoney"/>
         <output wsam:Action="http://object.app.telsoft/SOAPRequest/minusMoneyResponse" message="tns:minusMoneyResponse"/>
         <fault message="tns:Exception" name="Exception" wsam:Action="http://object.app.telsoft/SOAPRequest/minusMoney/Fault/Exception"/>
      </operation>
      <operation name="getInfomationCcgw">
         <input wsam:Action="http://object.app.telsoft/SOAPRequest/getInfomationCcgwRequest" message="tns:getInfomationCcgw"/>
         <output wsam:Action="http://object.app.telsoft/SOAPRequest/getInfomationCcgwResponse" message="tns:getInfomationCcgwResponse"/>
         <fault message="tns:Exception" name="Exception" wsam:Action="http://object.app.telsoft/SOAPRequest/getInfomationCcgw/Fault/Exception"/>
      </operation>
      <operation name="sendMessage">
         <input wsam:Action="http://object.app.telsoft/SOAPRequest/sendMessageRequest" message="tns:sendMessage"/>
         <output wsam:Action="http://object.app.telsoft/SOAPRequest/sendMessageResponse" message="tns:sendMessageResponse"/>
         <fault message="tns:Exception" name="Exception" wsam:Action="http://object.app.telsoft/SOAPRequest/sendMessage/Fault/Exception"/>
      </operation>
      <operation name="exeReceivedCP_MT">
         <input wsam:Action="http://object.app.telsoft/SOAPRequest/exeReceivedCP_MTRequest" message="tns:exeReceivedCP_MT"/>
         <output wsam:Action="http://object.app.telsoft/SOAPRequest/exeReceivedCP_MTResponse" message="tns:exeReceivedCP_MTResponse"/>
         <fault message="tns:Exception" name="Exception" wsam:Action="http://object.app.telsoft/SOAPRequest/exeReceivedCP_MT/Fault/Exception"/>
      </operation>
      <operation name="receiverServiceReq">
         <input wsam:Action="http://object.app.telsoft/SOAPRequest/receiverServiceReqRequest" message="tns:receiverServiceReq"/>
         <output wsam:Action="http://object.app.telsoft/SOAPRequest/receiverServiceReqResponse" message="tns:receiverServiceReqResponse"/>
         <fault message="tns:Exception" name="Exception" wsam:Action="http://object.app.telsoft/SOAPRequest/receiverServiceReq/Fault/Exception"/>
      </operation>
      <operation name="receiverPackageReq">
         <input wsam:Action="http://object.app.telsoft/SOAPRequest/receiverPackageReqRequest" message="tns:receiverPackageReq"/>
         <output wsam:Action="http://object.app.telsoft/SOAPRequest/receiverPackageReqResponse" message="tns:receiverPackageReqResponse"/>
         <fault message="tns:Exception" name="Exception" wsam:Action="http://object.app.telsoft/SOAPRequest/receiverPackageReq/Fault/Exception"/>
      </operation>
      <operation name="minusMoneyOtp">
         <input wsam:Action="http://object.app.telsoft/SOAPRequest/minusMoneyOtpRequest" message="tns:minusMoneyOtp"/>
         <output wsam:Action="http://object.app.telsoft/SOAPRequest/minusMoneyOtpResponse" message="tns:minusMoneyOtpResponse"/>
         <fault message="tns:Exception" name="Exception" wsam:Action="http://object.app.telsoft/SOAPRequest/minusMoneyOtp/Fault/Exception"/>
      </operation>
      <operation name="confirmMinusMoney">
         <input wsam:Action="http://object.app.telsoft/SOAPRequest/confirmMinusMoneyRequest" message="tns:confirmMinusMoney"/>
         <output wsam:Action="http://object.app.telsoft/SOAPRequest/confirmMinusMoneyResponse" message="tns:confirmMinusMoneyResponse"/>
         <fault message="tns:Exception" name="Exception" wsam:Action="http://object.app.telsoft/SOAPRequest/confirmMinusMoney/Fault/Exception"/>
      </operation>
   </portType>
   <binding name="SOAPRequestPortBinding" type="tns:SOAPRequest">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <operation name="minusMoney">
         <soap:operation soapAction=""/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>
         <fault name="Exception">
            <soap:fault name="Exception" use="literal"/>
         </fault>
      </operation>
      <operation name="getInfomationCcgw">
         <soap:operation soapAction=""/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>
         <fault name="Exception">
            <soap:fault name="Exception" use="literal"/>
         </fault>
      </operation>
      <operation name="sendMessage">
         <soap:operation soapAction=""/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>
         <fault name="Exception">
            <soap:fault name="Exception" use="literal"/>
         </fault>
      </operation>
      <operation name="exeReceivedCP_MT">
         <soap:operation soapAction=""/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>
         <fault name="Exception">
            <soap:fault name="Exception" use="literal"/>
         </fault>
      </operation>
      <operation name="receiverServiceReq">
         <soap:operation soapAction=""/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>
         <fault name="Exception">
            <soap:fault name="Exception" use="literal"/>
         </fault>
      </operation>
      <operation name="receiverPackageReq">
         <soap:operation soapAction=""/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>
         <fault name="Exception">
            <soap:fault name="Exception" use="literal"/>
         </fault>
      </operation>
      <operation name="minusMoneyOtp">
         <soap:operation soapAction=""/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>
         <fault name="Exception">
            <soap:fault name="Exception" use="literal"/>
         </fault>
      </operation>
      <operation name="confirmMinusMoney">
         <soap:operation soapAction=""/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>
         <fault name="Exception">
            <soap:fault name="Exception" use="literal"/>
         </fault>
      </operation>
   </binding>
   <service name="SOAPRequestService">
      <port name="SOAPRequestPort" binding="tns:SOAPRequestPortBinding">
         <soap:address location="https://apigateway.mobifone.vn/mbfn/sb/SOAPRequestServicecps"/>
      </port>
   </service>
</definitions>